body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.avatar {
    width: 150px;
}
.card {
    box-shadow: #0000003d 0px 3px 8px;
    margin: 0 auto;
    width: 400px;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    text-align: center;
    border-bottom: 6px solid #ffa69e;
    background: #aed9e0;
    color: #5e6472;
}
img {
    border-radius: 50%;
    box-shadow: 0px 6px 5px #0000003d;
}